@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,300,900|Roboto+Slab:400,100,700");
* {
  color: #999;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}
