doctype html
html
head
  title= title
  link( href="/css/style.css", rel='stylesheet', type='text/css' )
body
  h1 Welcome
  block content
  script(src='//code.jquery.com/jquery-1.10.2.min.js')
  block scripts
